@model KeplerBI.MVC.Models.Planets.PlanetsVM

@{
    ViewBag.Title = "Planeten";
}

<h2><img src="~/Content/pics/space/Planet-2.png" style="display:inline" /> Katalog der Planeten</h2>
<p>
    @if (Model.Tokens.Any())
    {
        <text>Gefiltert durch:</text><code>@Model.TokensToString(0, Model.Tokens.Count() - 1)</code>
    }
</p>


<input type="hidden" id="AppFolder" value="@Url.Content("~/")"/>

<div class="btn-toolbar">

    <div class="btn-group">
        <a class="btn btn-default" href="@Url.Action("Index")"><span class="glyphicon glyphicon-remove"></span> </a>
    </div>
    <div class="btn-group">
            <a class="btn btn-default" href="@Url.Action("Index", new { rpn = Model.OrderByMassRPN(true)})">Massen <span class="glyphicon glyphicon-arrow-down"></span> </a>
            <a class="btn btn-default" href="@Url.Action("Index", new { rpn = Model.OrderByMassRPN(false)})"><span class="glyphicon glyphicon-arrow-up"></span> </a>
    </div>

    <div class="btn-group">
        <a class="btn btn-default" href="@Url.Action("Index", new { rpn = Model.OrderBySemiMajorAxisRPN(true) })">Abstände <span class="glyphicon glyphicon-arrow-down"></span> </a>
        <a class="btn btn-default" href="@Url.Action("Index", new { rpn = Model.OrderBySemiMajorAxisRPN(false) })"><span class="glyphicon glyphicon-arrow-up"></span> </a>
    </div>

    <div class="input-group">
        <span class="input-group-btn">
            <button id="btnDefSemiMajorAxisRng" class="btn btn-default" type="button">Bahnradien einschränken auf</button>
        </span>
        <input id="DefSemiMajorAxisRngBegin" type="text" class="form-control" placeholder="von (z.B 2 AU)" value="0 AU">
        <input id="DefSemiMajorAxisRngEnd" type="text" class="form-control" placeholder="bis (z.B. 4 AU)" value="100 AU">
    </div>
</div>
<p id="status">

</p>
<table class="table table-striped">

    <tr>
        <th>Name</th>
        <th>Bild</th>
        <th>Abstand [AU] </th>
        <th>Masse [EM]</th>
        <th>&empty; [KM]</th>
        <th># Monde</th>
        <th>&nbsp;</th>
        <th>Rank</th>
        <th>Vote</th>
    </tr>

    @foreach (var planet in Model.Planets)
    {
        <tr>
            <td>
                <b>@planet.Name.ToUpper()</b>
            </td>
            <td>
                <img src="~/Content/pics/@planet.Name-small.jpg" class="img-circle" style="width:50px" title="@planet.Name"/>
            </td>
            <td>
                @mko.Newton.Length.AU(planet.Orbit.SemiMajorAxis).Vector[0]
            </td>
            <td>
                @if (@planet.MassInEarthmasses >= 1.0)
                {
                    @planet.MassInEarthmasses.ToString("N0")
                }
                else
                {
                    @planet.MassInEarthmasses.ToString("N4");
                }
            </td>
            <td>
                @mko.Newton.Length.Kilometer(planet.EquatorialDiameter).Vector[0]
            </td>
            <td>
                @planet.Moons.Count()
            </td>
            <td>
                @foreach (var moon in planet.Moons)
                {
                    <img src="~/Content/pics/@moon.Name-small.jpg" class="img-circle" style="width:50px" title="@moon.Name" />
                }
            </td>
            <td>
                @* Übergabe der Rank- Werte an JavaScript in den Data- Attributen
                   JavaScript bestimmt daraus das anzuzeigende Cuby- Icon.  *@
                <img  style="height: 25px" name="rank" id="imgVote@(planet.Name)" data-Planet="@planet.Name" data-RankCount="@planet.RankCount" data-RankSum="@planet.RankSum" />                                
            </td>
            <td>
                <img src="~/Content/pics/etc/cuby-bad.svg" style="height: 25px" data-Vote="bad" data-Planet="@planet.Name"/>
                &nbsp;
                <img src="~/Content/pics/etc/cuby.svg" style="height: 25px" data-Vote="ok" data-Planet="@planet.Name"/>
                &nbsp;
                <img src="~/Content/pics/etc/cuby-happy.svg" style="height: 25px" data-Vote="good" data-Planet="@planet.Name"/>

            </td>
        </tr>
    }

</table>

@section Scripts {
    @Scripts.Render("~/bundles/Planets/Index")
}


