@model KeplerBI.MVC.Models.Asteroids.AsteroidVM
@{
    ViewBag.Title = "Index";
    mko.Newton.Init.Do();
    int i = Model.SkipValue;
    long CountOfSelected = Model.fssbld.Count();
    double SelectionRate = 100.0 * CountOfSelected / Model.countAll;
}

<h2><img src="~/Content/pics/space/Asteroid.png" style="display:inline" /> Asteroiden</h2>
<nav>
    Liste von Asteroiden. Gewonnen aus den Daten von <a href="http://ssd.jpl.nasa.gov/sbdb_query.cgi#x" target="_blank">JPL Small-Body Database Search Engine</a>.
    Interessante Teilmengen:
    <dl class="dl-horizontal">
        <dt><a href="@Url.Action("Index", new { controller="Asteroids", rpn="25 Take"})">Alle</a></dt>
        <dd>Alle Asteroiden, nach dem Abstand der Sonne aufsteigend sortiert</dd>
        <dt><a href="@Url.Action("Index", new { controller="Asteroids", rpn="200 KM 1000 KM DiameterRng"})">Große Asteroiden</a></dt>
        <dd>Große Asteroiden mit Durchmessern von 200 km bis 1000 km</dd>
        <dt><a href="@Url.Action("Index", new { controller="Asteroids", rpn="0 KM 50 KM DiameterRng"})">Kleine Asteroiden</a></dt>
        <dd>Kleine Asteroiden bis 50 km Durchmesser</dd>
        <dt><a href="@Url.Action("Index", new { controller="Asteroids", rpn="desc OrderByAlbedo 100 Take"})">Die 100 hellsten</a></dt>
        <dd>Asteroiden beszüglich der Helligkeit absteigend sortiert. Beschränkt auf die ersten 100</dd>
    </dl>

    <a href="@Url.Action("Index", new {  controller="Asteroids",rpn = Model.rpnPrev})"
       class="btn btn-primary">Prev</a>
    &nbsp;
    <a href="@Url.Action("Index", new {  controller="Asteroids",rpn = Model.rpnNext})"
       class="btn btn-primary">Next</a>
</nav>
<p>

    Gesamtzahl der Asteroiden aktuell: <b>@Model.countAll</b>, Anzahl aktuell ausgewählten: <b>@CountOfSelected</b>, Anteil: <b>@SelectionRate.ToString("N4")%</b>
    <table class="table table-striped">
        <tr>
            <th>Nr.</th>
            <th>Name</th>
            <th style="text-align:right;">D <sub>Sonnen</sub> AU</th>
            <th style="text-align:right;">V<sub>Bahn</sub> km/sec</th>
            <th style="text-align:right;">Albedo Num.</th>
            <th>Albedo</th>
            <th>D<sub>äquator</sub> Km</th>
        </tr>
        @foreach (var cb in Model.fssbld.Get())
        {
            i++;
            <tr>
                <td>@i</td>
                <td>@cb.Name</td>
                <td style="text-align:right;">@mko.Newton.Length.AU(cb.Orbit.SemiMajorAxis).Vector.Length.ToString("N4")</td>
                <td style="text-align:right;">
                    @mko.Newton.Velocity.KilometerPerSec(cb.Orbit.MeanVelocityOfCirculation).Vector.Length.ToString("N3")
                </td>
                <td style="text-align:right;">
                    @cb.Albedo
                </td>
                <td>
                    @{
                        string color = "#C0C0FF";

                        if (cb.Albedo < 0.2)
                        {
                            color = "#c0c0c0";
                        }

                        if (cb.Albedo < 0.1)
                        {
                            color = "#808080";
                        }

                        if (cb.Albedo < 0.05)
                        {
                            color = "#000000";
                        }
                    }
                    <svg width="20px" height="20px">
                        <circle cx="10px" cy="10px" r="9px" fill="@color" />
                    </svg>
                </td>
                <td>
                    @cb.EquatorialDiameter.Vector.Length
                </td>
            </tr>
                        }
    </table>
</p>