@model KeplerBI.MVC.Models.Filters.RpnRngFlt

<li>
    <div class="panel panel-info">
        <div class="panel-heading">
            @Model.Name
        </div>
        <div class="panel-body">
            <dl class="rpn">
                <dt>@Html.DisplayFor(m => m.BeginName)</dt>
                <dd>@Html.DisplayFor(m => m.Begin)</dd>

                <dt>@Html.DisplayFor(m => m.EndName)</dt>
                <dd>@Html.DisplayFor(m => m.End)</dd>
            </dl>

            <a href="@Url.Action("RpnRngFltEdit", new {controller=Model.ControllerName, pn=Model.pn, pnFSubtree= Model.pnFSubtree})" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-edit"></span></a>
            <a href="@Url.Action("Index", new {controller="Asteroids", pn=Model.pnWithoutFunction})" class="btn btn-danger btn-xs" style="margin-left: 1em;"><span class="glyphicon glyphicon-remove"></span></a>
        </div>

    </div>

</li>



